doctype html
html
    head
        title Certificate  
        style 
            include ../static/certi.css
        link(rel='preconnect', href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap', rel='stylesheet')
    body
        .container 
            img(src='./static/certi/goi.jpg', alt='125px') 
        h1 Provisional Certificate for COVID-19 Vaccination
        h3 Beneficiary Details
        .navbar
            table
                tr
                    th Name
                    td=name
                tr
                    th Age
                    td=age
                tr
                    th Unique-Id number
                    td=idno
                tr
                    th Gender
                    td=gender
                tr
                    th Phone Number
                    td=phone
                tr
                    th Date
                    td=date
            img(src='./static/certi/temp.jpg' alt='') 